[Desktop Entry]
Name=Terminal
Exec=aterm 
Type=Application
X-FullPathIcon=/usr/local/share/pixmaps/aterm.png
Icon=aterm
OnlyShowIn=Old;
Categories=System;
