[Desktop Entry]
Name=Screen Shot
Exec=screenshot.sh
Icon=screenshot
X-FullPathIcon=/usr/local/share/pixmaps/screenshot.png
Type=Application
Categories=System;
